<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head"></head>
<body>
	<div th:replace="fragments/header:: header"></div>
	<h1 th:text="#{account.list.title}">Default Title</h1>
<table>
	<tr th:each="account: ${accounts}">
		<td th:text="${account._id}">Id</td>
		<td th:text="${account.availableBalance}">Balance</td>
		<td><a th:text="${account._id}" th:href="@{/accounts/__${account._id}__}">Id</a></td>
	</tr>
</table>
<div th:replace="fragments/footer :: footer">
	</div>
</body>
</html>